﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_VisitCommentType>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.CommentTypeId).Hidden();
            columns.Bound(p => p.CommentType).Title(PH.VisitCommentType.CommentType).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.Active).Title(PH.VisitCommentType.Active).AddDefaultOptionsAndViewInMobile();

            columns.AddAuditColumns();
            columns.AddActionColumns("CommentTypeId");

            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.CommentTypeId);
                                model.Field(a => a.CommentTypeId).Editable(false);
                            })
                        )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>CommentType</strong>
            <p class="col-template-val">#=data.CommentType#</p>

            <strong>Active</strong>
            <p class="col-template-val">#=data.Active#</p>

        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>