﻿@model DB.ORM.DB.ProfileTerritory1
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.ProfileTerritoryId))
            @Html.FormDropDownListRow(m => m.ProfileId, (List<SelectListItem>)ViewBag.Profiles, true, PH.Team.Profile)
            @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, true, PH.Team.Territory)
            @Html.FormEditorRow(m => m.Percentage, PH.Team.Perccentage)
            @Html.FormEditorRow(m => m.FromDate, PH.Team.FromDate)
            @Html.FormEditorRow(m => m.ToDate, PH.Team.ToDate)

            @Html.FormActionsRow("Edit", new { id = Model.ProfileId }, "tab_profileTerritory")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
