﻿@model DB.ORM.DB.TeamProfile
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<!-- tile -->
<div class="portlet light ">
    @(modeAdd ? Html.FormHeaderWithButtons((string)title + " " + eName) : Html.FormHeaderTabbed((string)title + " " + eName, new FormHeaderTab { Id = "tab_details", Name = "Details" }, new FormHeaderTab { Id = "tab_profileAccount", Name = "Profile Account" }, new FormHeaderTab { Id = "tab_profileTerritory", Name = "Profile Territory" }) )
    <!-- tile body -->
    <div class="portlet-body form">

        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
                @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @(modeAdd ? null : Html.HiddenFor(m => m.ProfileId))
                        @Html.FormDropDownListRow(m => m.TeamId, (List<SelectListItem>)ViewBag.Teams, true, PH.Team.team)
                        @Html.FormEditorRow(m => m.ProfileCode, PH.Team.ProfileCode)
                        @Html.FormEditorRow(m => m.ProfileName, PH.Team.ProfileName, true)
                        @Html.FormEditorRow(m => m.Active, PH.Team.Active)

                        @Html.FormActionsRow()
                    </div>
                }
            </div>


            <div class="tab-pane" id="tab_profileAccount">
                @Html.AddButtonForChild("CreateProfileAccount", new { profileId = modeAdd ? 0 : Model.ProfileId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfileAccount>()
                                                    .Name("PAGrid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.ProfileAccountId).Hidden();
                                                        columns.Bound(p => p.AccountName).Title(PH.Team.AccountName).AddDefaultOptionsAndViewInMobile().Filterable(f => f.Search(true).Multi(false));
                                                        columns.Bound(p => p.CategoryName).Title(PH.Team.CategoryName).AddDefaultOptionsAndViewInMobile().Filterable(f => f.Search(true).Multi(false));
                                                        columns.Bound(p => p.TerritoryName).Title(PH.Team.TerritoryName).AddDefaultOptionsAndViewInMobile().Filterable(f => f.Search(true).Multi(false));

                                                        columns.Bound(p => p.Perccentage).Title(PH.Team.Perccentage).AddDefaultOptions().Format("{0:#.## \\'%'}");
                                                        columns.Bound(p => p.FromDate).Title(PH.Team.FromDate).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                        columns.Bound(p => p.ToDate).Title(PH.Team.ToDate).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));


                                                        columns.AddAuditColumns();
                                                        columns.AddActionColumns("ProfileAccountId", Url.Action("EditProfileAccount"), Url.Action("DeleteProfileAccount"));
                                                        columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_pa(data)#");
                                                })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.ProfileAccountId);
                                model.Field(a => a.ProfileAccountId).Editable(false);
                            }, read => read.Action("ReadProfileAccountList", formController, new { ProfileId = modeAdd ? 0 : Model.ProfileId }))
                        )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-pa" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.ProfileCode#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.Active#</p>
                </script>
                <script>
                    var resColTemplate_pa = kendo.template($("#responsive-column-template-pa").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>


            <div class="tab-pane" id="tab_profileTerritory">
                @Html.AddButtonForChild("CreateprofileTerritory", new { profileId = modeAdd ? 0 : Model.ProfileId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfileTerritory>()
                                        .Name("PTGrid")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.ProfileTerritoryId).Hidden();
                                            columns.Bound(p => p.ProfileName).Title(PH.Team.ProfileName).AddDefaultOptions();
                                            columns.Bound(p => p.TerritoryName).Title(PH.Team.TerritoryName).AddDefaultOptions();
                                            columns.Bound(p => p.Percentage).Title(PH.Team.Perccentage).AddDefaultOptions().Format("{0:#.## \\'%'}");
                                            columns.Bound(p => p.FromDate).Title(PH.Team.FromDate).AddDefaultOptions();
                                            columns.Bound(p => p.ToDate).Title(PH.Team.ToDate).AddDefaultOptions();
                                            columns.AddAuditColumns();
                                            columns.AddActionColumns("ProfileTerritoryId", Url.Action("EditProfileTerritory"), Url.Action("DeleteProfileTerritory"));
                                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_pt(data)#");
                                        })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.ProfileTerritoryId);
                                model.Field(a => a.ProfileTerritoryId).Editable(false);
                            }, read => read.Action("ReadprofileTerritoryList", formController, new { ProfileId = modeAdd ? 0 : Model.ProfileId }))
                        )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-pt" type="text/x-kendo-template">
                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProductName#</p>

                    <strong>FromDate</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>ToDate</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_pt = kendo.template($("#responsive-column-template-pt").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>


            <!-- /tile body -->
        </div>
        <!-- /tile -->
      
