﻿@model DB.ORM.DB.ProfileAccount1
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.ProfileAccountId))
            @Html.FormDropDownListRow(m => m.ProfileId, (List<SelectListItem>)ViewBag.Profiles, true, PH.Team.Profile)
            @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # from: #=TerritoryName# , address: #=Address#", true, PH.Team.Account)
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products,false, PH.Team.Product)
            @Html.FormDropDownListRow(m => m.DosageFromId, (List<SelectListItem>)ViewBag.DosageFroms,false, PH.Team.DosageFrom)
            @Html.FormEditorRow(m => m.Perccentage, PH.Team.Perccentage)
            @Html.FormEditorRow(m => m.FromDate,PH.Team.FromDate)
            @Html.FormEditorRow(m => m.ToDate, PH.Team.ToDate)


            @Html.FormActionsRow("Edit", new { id = Model.ProfileId }, "tab_profileAccount")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>
    function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>