﻿@model Web.App.Models.VMRepTarget

@{
    Layout = "~/Views/Shared/_RepLayout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
  
}

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("create", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.FormDropDownListRow(m => m.TimeDefinitionId, (List<SelectListItem>)ViewBag.TimeDef, true,PH.RepTargetVisit.TimeDefinition)
                @Html.FormDropDownListRow(m => m.CreateOption, (List<SelectListItem>)ViewBag.CreateOption, true, PH.RepTargetVisit.CreateOption)
                
                @Html.FormActionsRow()
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
