﻿@model DB.ORM.DB.vw_ProfileTargetVisit
@{
    Layout = "~/Views/Shared/_RepLayout.cshtml";
    var title = "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderTabbed((string)ViewBag.Title, new FormHeaderTab { Id = "tab_summary", Name = PH.RepTargetVisit.Summary }, new FormHeaderTab { Id = "tab_details", Name = PH.RepTargetVisit.Details }, new FormHeaderTab { Id = "tab_flist", Name = PH.RepTargetVisit.FullList })
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="form-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_summary">
                    @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                    {
                        <div class="form-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="row">
                                <div class="col-md-6">
                                    @Html.FormDisplayRow(m => m.PeriodName,PH.RepTargetVisit.PeriodName)
                                    @Html.FormDisplayRow(m => m.ProfileCode,PH.RepTargetVisit.ProfileCode)
                                </div>
                                <div class="col-md-6">
                                    @Html.FormDisplayRow(m => m.TargetStatus, PH.RepTargetVisit.TargetStatus)
                                    @Html.FormDisplayRow(m => m.ManagerName, PH.RepTargetVisit.ManagerName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.FormDisplayRow(m => m.TargetAccountsCount, PH.RepTargetVisit.TargetAccountsCount)
                                    @Html.FormDisplayRow(m => m.TargetDoctorsCount, PH.RepTargetVisit.TargetDoctorsCount)

                                </div>
                                <div class="col-md-6">
                                    @Html.FormDisplayRow(m => m.TargetVisits, PH.RepTargetVisit.TargetVisits)
                                    @Html.FormDisplayRow(m => m.AvgCallRate, PH.RepTargetVisit.AvgCallRate)
                                    @Html.FormDisplayRow(m => m.ListTargetDoctorsCount, PH.RepTargetVisit.ListTargetDoctorsCount)
                                </div>
                            </div>
                            @Html.FormActionsRow()
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tab_details">
                    <script>
                        function saveGrid(gridName){
                            if (confirm(@PH.RepTargetVisit.SureToSave)) {
                                var grid = $("#"+gridName).data("kendoGrid");
                                grid.saveChanges();
                                reloadGrid(gridName);
                            }
                        }
                    </script>
                    <button type="button" class="btn btn-primary" name="save" onclick="return saveGrid('detGrid');">Save</button>

                    @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfileTargetVisitDetails>()
                                    .Name("detGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.ProfileTargetDetailId).Hidden();
                                        columns.Bound(p => p.AccountName).Title(PH.RepTargetVisit.AccountName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.AccountTypeName).Title(PH.RepTargetVisit.AccountTypeName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.SpecialtyCode).Title(PH.RepTargetVisit.SpecialtyCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.Address).Title(PH.RepTargetVisit.Address).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.TerritoryName).Title(PH.RepTargetVisit.TerritoryName).AddDefaultOptions();
                                        columns.Bound(p => p.PotentialCode).Title(PH.RepTargetVisit.PotentialCode).AddDefaultOptions();
                                        columns.ForeignKey(p => p.PotentialId, (System.Collections.IEnumerable)ViewData["potentials"], "PotentialId", "PotentialCode");
                                        columns.Bound(p => p.Frequency).Title(PH.RepTargetVisit.Frequency).AddDefaultOptions();
                                        if (Model.TargetStatus != "Approved")
                                        {
                                            columns.AddActionColumns("ProfileTargetDetailId",
                                                ListActionColumn.DeleteColumn("ProfileTargetDetailId", Url.Action("DeleteAccount")));
                                        }
                                    })
                                .AddDefaultOptions()
                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.ProfileTargetDetailId);
                                        model.Field(a => a.ProfileTargetDetailId).Editable(false);
                                        model.Field(a => a.AccountName).Editable(false);
                                        model.Field(a => a.AccountTypeName).Editable(false);
                                        model.Field(a => a.SpecialtyCode).Editable(false);
                                        model.Field(a => a.Address).Editable(false);
                                        model.Field(a => a.TerritoryName).Editable(false);

                                    }, read => read.Action("ReadDetailsList", formController, new { targetId = Model.ProfileTargetId }), false, null
                                    ,update=> update.Action("UpdateDetailsList", formController))
                                )
                    )
                </div>
                <div class="tab-pane" id="tab_flist">
                    @(Html.Kendo().Grid<DB.ORM.DB.crm_fn_Target_Universe>()
                                    .Name("ulGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.AccountId).Hidden();
                                        columns.Bound(p => p.DoctorId).Hidden();
                                        columns.Bound(p => p.AccountName).Title(PH.RepTargetVisit.AccountName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.AccountTypeName).Title(PH.RepTargetVisit.AccountTypeName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.Address).Title(PH.RepTargetVisit.Address).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.TerritoryName).Title(PH.RepTargetVisit.TerritoryName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.PotentialCode).Title(PH.RepTargetVisit.PotentialCode).AddDefaultOptions();
                                        columns.Bound(p => p.SpecialtyName).Title(PH.RepTargetVisit.SpecialtyName).AddDefaultOptions();
                                        if (Model.TargetStatus != "Approved")
                                        {
                                            columns.AddActionColumns("AccountId",
                                                new ListActionColumn
                                                {
                                                    Icon = "glyphicon glyphicon-plus",
                                                    OnClick = "return addAccount(#=AccountId#,#=DoctorId#,'#=AccountName#')",
                                                    Url = ""

                                                });
                                        }
                                    })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.AccountId);
                                        model.Field(a => a.AccountId).Editable(false);
                                    }, read => read.Action("ReadUniverseList", formController, new { targetId = Model.ProfileTargetId }))
                                )
                    )
                    <script>
                        function addAccount(accid, docid, accname) {
                            if (confirm(@PH.RepTargetVisit.AskConfirmToAddToList + accname + @PH.RepTargetVisit.totargetlist)) {
                                $.ajax({
                                    url: '@Url.Action("AddAccount")',
                                    data: { targetId: @Model.ProfileTargetId, doctorId: docid, accountId: accid },
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert(@PH.RepTargetVisit.Accountaddedsuccessfully);
                                            reloadGrid("ulGrid");
                                            reloadGrid("detGrid");
                                        }
                                        else {
                                            alert(@PH.RepTargetVisit.Accountnotadded);
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert(@PH.RepTargetVisit.ErrorWhileAdding);
                                    }
                                });
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
