﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().TreeList<DB.ORM.DB.vw_AccountCategory>()
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Add().Field(p => p.CategoryId).Hidden(true);
                columns.Add().Field(p => p.CategoryCode).Title(PH.AccountCategory.CategoryCode);
                columns.Add().Field(p => p.CategoryName).Title(PH.AccountCategory.CategoryName)
                .FooterTemplate(PH.AccountCategory.TotalAccounts);
                columns.Add().Field(p => p.AccountsCount).Title(PH.AccountCategory.AccountsCount).Format("{0: 0,0}")
                    .FooterTemplate("#= sum #");
                columns.Add().Field(p => p.CountryCode).Title(PH.AccountCategory.CountryCode);

                columns.AddAuditColumns();
                columns.AddActionColumns("CategoryId","AccountCategory");
            })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(m =>
                        {
                            m.Id(f => f.CategoryId);
                            m.ParentId(f => f.ParentCategoryId);
                            m.Expanded(false);
                        }).Aggregates(aggr => {
                            aggr.Add("AccountsCount", typeof(int)).Sum();
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.CategoryCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.CategoryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>