﻿@model  DB.ORM.DB.sp_Target_Analysis_GetSummary
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="@(Model.TargetAmount?.ToString("#,#"))">@(Model.TargetAmount?.ToString("#,#"))</span>
                        @*<small class="font-green-sharp"></small>*@
                    </h3>
                    <small>TOTAL TARGET</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.TargetGrowth?.ToString("0%"));" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">@(Model.TargetGrowth?.ToString("0%")) Growth</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> Growth </div>
                    <div class="status-number"> @(Model.TargetGrowth?.ToString("0%")) </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="@(Model.ProductTarget?.ToString("#,#"))">@(Model.ProductTarget?.ToString("#,#"))</span>
                        @*<small class="font-red-haze">$</small>*@
                    </h3>
                    <small>@Model.ProductName</small>
                </div>
                <div class="icon">
                    <i class="icon-basket"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.ProductTargetGrowth?.ToString("0%"));" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">@(Model.ProductTargetGrowth?.ToString("0%"))</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> Growth </div>
                    <div class="status-number"> @(Model.ProductTargetGrowth?.ToString("0%")) </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="@(Model.TerritoryTarget?.ToString("#,#"))">@(Model.TerritoryTarget?.ToString("#,#"))</span>
                        @*<small class="font-blue-sharp">$</small>*@
                    </h3>
                    <small>@Model.TerritoryName</small>
                </div>
                <div class="icon">
                    <i class="icon-map"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.TerritoryTargetGrowth?.ToString("0%"));" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">@(Model.TerritoryTargetGrowth?.ToString("0%")) grow</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> growth </div>
                    <div class="status-number"> @(Model.TerritoryTargetGrowth?.ToString("0%")) </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <span data-counter="counterup" data-value="@(Model.ProfileTarget?.ToString("#,#"))">@(Model.ProfileTarget?.ToString("#,#"))</span>
                        @*<small class="font-purple-sharp">$</small>*@
                    </h3>
                    <small>@Model.ProfileName</small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.ProfileTargetGrowth?.ToString("0%"));" class="progress-bar progress-bar-success purple-soft">
                        <span class="sr-only">@(Model.ProfileTargetGrowth?.ToString("0%")) change</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> Growth </div>
                    <div class="status-number"> @(Model.ProfileTargetGrowth?.ToString("0%")) </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Top 10 Products By Amount",
           new FormHeaderTab { Id= "tab_chart_Product_a", Name="Chart" },
           new FormHeaderTab { Id = "tab_table_Product_a", Name = "Data" })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_Product_a" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.fn_Target_ProductAnalysis>()
                                            .Name("chrt_Product")
                                            .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                            .ChartArea(chartArea => chartArea.Background("transparent"))
                                            .DataSource(ds => ds
                                            .Read(read => read.Action("_GetProductAnalysisChart", formController))
                                            .Sort(s => s.Add("ProductTarget").Descending())
                                            .PageSize(10))
                                            .Series(series =>
                                            {
                                                series.Column(m => m.ProductTarget).Name(PH.TargetAnalyzer.Amount);
                                                series.Line(m => m.ProductTargetGrowth).Name(PH.TargetAnalyzer.AmountGrowth).Axis("percent");
                                            })
                                            .CategoryAxis(axis => axis
                                                    .Name("series-axis")
                                                    .Line(line => line.Visible(false))
                                                    .Categories(m => m.ProductName)
                                                        .Labels(l => l.Rotation(90))
                                            )
                                            .ValueAxis(axis => axis
                                                    .Numeric()
                                                    .Labels(labels => labels.Format("{0:N0}"))
                                                    // Move the label-axis all the way down the value axis
                                                    .AxisCrossingValue(0, int.MinValue)
                                            )
                                            .ValueAxis(axis => axis
                                                    .Numeric("percent")
                                                    .Labels(labels => labels.Format("{0}%"))
                                                    .Visible(false)
                                                    // Move the label-axis all the way down the value axis
                                                    .AxisCrossingValue(0, int.MinValue)
                                            )
                                            .Tooltip(tooltip => tooltip
                                                    .Visible(true)
                                                    .Format("{0:N0}")
                                                    .Template("#= series.name #: #= value #")
                                            )
                        )


                    </div>
                    <div id="tab_table_Product_a" class="tab-pane">
                        <div id="tab_table_Product_a" class="tab-pane">
                            @(Html.Kendo().Grid<DB.ORM.DB.fn_Target_ProductAnalysis>()
                                            .Name("Product_a_Grid")
                                            .Columns(columns =>
                                            {

                                                columns.Bound(p => p.ProductName).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.ProductTarget).AddDefaultOptions().Format("{0:0,0.00}");
                                                columns.Bound(p => p.ProductTargetGrowth).AddDefaultOptions().Format("{0:0%}");
                                            })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.ProductName);
                                                }, read => read.Action("_GetProductAnalysis_Table", formController))
                                            )
                            )
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /tile body -->
    </div>

    <div class="col-md-6">
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Top 10 Products By Qty",
           new FormHeaderTab { Id= "tab_chart_Product_q", Name=PH.TargetAnalyzer.Chart },
           new FormHeaderTab { Id = "tab_table_Product_q", Name = PH.TargetAnalyzer.Data })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_Product_q" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.fn_Target_ProductAnalysis>()
                                                .Name("chrt_Product_q")
                                                .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                                .ChartArea(chartArea => chartArea.Background("transparent"))
                                                .DataSource(ds => ds
                                                    .Read(read => read.Action("_GetProductAnalysisChart", formController))
                                                    .Sort(s => s.Add("ProductTarget_Qty").Descending())
                                                    .PageSize(10))
                                                .Series(series =>
                                                {
                                                    series.Column(m => m.ProductTarget_Qty).Name(PH.TargetAnalyzer.Qty);
                                                    series.Line(m => m.ProductTargetGrowth_Qty).Name(PH.TargetAnalyzer.QtyGrowth).Axis("percent");
                                                })
                                                .CategoryAxis(axis => axis
                                                                .Name("series-axis")
                                                                .Line(line => line.Visible(false))
                                                                .Categories(m => m.ProductName)
                                                                .Labels(l => l.Rotation(90))
                                                )
                                                .ValueAxis(axis => axis
                                                                .Numeric()
                                                                    .Labels(labels => labels.Format("{0:N0}"))
                                                                    // Move the label-axis all the way down the value axis
                                                                    .AxisCrossingValue(0, int.MinValue)
                                                )
                                                .ValueAxis(axis => axis
                                                                .Numeric("percent")
                                                                    .Labels(labels => labels.Format("{0}%"))
                                                                    .Visible(false)
                                                                    // Move the label-axis all the way down the value axis
                                                                    .AxisCrossingValue(0, int.MinValue)
                                                )
                                                .Tooltip(tooltip => tooltip
                                                                .Visible(true)
                                                                .Format("{0}%")
                                                                .Template("#= series.name #: #= value #")
                                                )
                        )


                    </div>
                    <div id="tab_table_Product_q" class="tab-pane">
                        @(Html.Kendo().Grid<DB.ORM.DB.fn_Target_ProductAnalysis>()
                                            .Name("Product_q_Grid")
                                            .Columns(columns =>
                                            {

                                                columns.Bound(p => p.ProductName).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.ProductTarget_Qty).AddDefaultOptions().Format("{0:0,0.00}");
                                                columns.Bound(p => p.ProductTargetGrowth_Qty).AddDefaultOptions().Format("{0:0%}");
                                            })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.ProductName);
                                                }, read => read.Action("_GetProductAnalysis_Table", formController))
                                            )
                        )
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<div class="row">
    <script>
        function territoryQty() {
            return {
                qtype: "q",
                top: 10
            };
        }
        function territoryAmount() {
            return {
                qtype: "a",
                top: 10
            };
        }
    </script>
    <div class="col-md-6">
        <!-- tile -->
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Top 10 Territories by Amount",
           new FormHeaderTab { Id= "tab_chart_Territory", Name= PH.TargetAnalyzer.Chart },
           new FormHeaderTab { Id = "tab_table_Territory", Name = PH.TargetAnalyzer.Data })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_Territory" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.sp_Target_TerritoryAnalysis>()
                                            .Name("chrt_Territory")
                                            .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                            .ChartArea(chartArea => chartArea.Background("transparent"))
                                            .DataSource(ds => ds
                                                .Read(read => read.Action("_GetTerritoryAnalysisChart", formController).Data("territoryAmount"))
                                                .Sort(s => s.Add("TerritoryTarget").Descending())
                                                .PageSize(10))
                                            .Series(series =>
                                            {
                                                series.Bar(m => m.TerritoryTarget).Name(PH.TargetAnalyzer.Amount);
                                                series.Line(m => m.TerritoryTargetGrowth).Name(PH.TargetAnalyzer.AmountGrowth).Axis("percent");
                                            })
                                            .CategoryAxis(axis => axis
                                                            .Name("series-axis")
                                                            .Line(line => line.Visible(false))
                                                            .Categories(m => m.TerritoryName)
                                            //.Labels(l => l.Rotation(90))
                                            )
                                            .ValueAxis(axis => axis
                                                            .Numeric()
                                                                .Labels(labels => labels.Format("{0:N0}"))
                                                                // Move the label-axis all the way down the value axis
                                                                .AxisCrossingValue(0, int.MinValue)
                                            )
                                            .ValueAxis(axis => axis
                                                            .Numeric("percent")
                                                                .Labels(labels => labels.Format("{0}%"))
                                                                .Visible(false)
                                                                // Move the label-axis all the way down the value axis
                                                                .AxisCrossingValue(0, int.MinValue)
                                            )
                                            .Tooltip(tooltip => tooltip
                                                            .Visible(true)
                                                            .Format("{0}%")
                                                            .Template("#= series.name #: #= value #")
                                            )
                        )
                    </div>
                    <div id="tab_table_Territory" class="tab-pane">
                        @(Html.Kendo().Grid<DB.ORM.DB.sp_Target_TerritoryAnalysis>()
                                                   .Name("Territory_a_Grid")
                                                   .Columns(columns =>
                                                   {

                                                       columns.Bound(p => p.TerritoryName).AddDefaultOptionsAndViewInMobile();
                                                       columns.Bound(p => p.TerritoryTarget).AddDefaultOptions().Format("{0:0,0.00}");
                                                       columns.Bound(p => p.TerritoryTargetGrowth).AddDefaultOptions().Format("{0:0%}");
                                                   })
                                                   .AddDefaultOptions()
                                                   .DataSource(dataSource => dataSource
                                                       .AddDefaultSettings(model =>
                                                       {
                                                           model.Id(p => p.TerritoryName);
                                                       }, read => read.Action("_GetTerritoryAnalysis_Table", formController))
                                                   )
                        )
                    </div>
                </div>
            </div>
            <!-- /tile body -->
        </div>
        <!-- /tile -->

    </div>
    <div class="col-md-6">
        <!-- tile -->
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Top 10 Territories by Qty",
           new FormHeaderTab { Id= "tab_chart_Territory_q", Name= PH.TargetAnalyzer.Chart },
           new FormHeaderTab { Id = "tab_table_Territory_q", Name = PH.TargetAnalyzer.Data })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_Territory_q" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.sp_Target_TerritoryAnalysis>()
                                            .Name("chrt_Territory_q")
                                            .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                            .ChartArea(chartArea => chartArea.Background("transparent"))
                                            .DataSource(ds => ds
                                                .Read(read => read.Action("_GetTerritoryAnalysisChart", formController).Data("territoryQty"))
                                                .Sort(s => s.Add("TerritoryTarget").Descending())
                                                .PageSize(10))
                                            .Series(series =>
                                            {
                                                series.Bar(m => m.TerritoryTarget_Qty).Name(PH.TargetAnalyzer.Qty);
                                                series.Line(m => m.TerritoryTargetGrowth_Qty).Name(PH.TargetAnalyzer.QtyGrowth).Axis("percent");
                                            })
                                            .CategoryAxis(axis => axis
                                                            .Name("series-axis")
                                                            .Line(line => line.Visible(false))
                                                            .Categories(m => m.TerritoryName)
                                            //.Labels(l => l.Rotation(90))
                                            )
                                            .ValueAxis(axis => axis
                                                            .Numeric()
                                                                .Labels(labels => labels.Format("{0:N0}"))
                                                                // Move the label-axis all the way down the value axis
                                                                .AxisCrossingValue(0, int.MinValue)
                                            )
                                            .ValueAxis(axis => axis
                                                            .Numeric("percent")
                                                                .Labels(labels => labels.Format("{0}%"))
                                                                .Visible(false)
                                                                // Move the label-axis all the way down the value axis
                                                                .AxisCrossingValue(0, int.MinValue)
                                            )
                                            .Tooltip(tooltip => tooltip
                                                            .Visible(true)
                                                            .Format("{0}%")
                                                            .Template("#= series.name #: #= value #")
                                            )
                        )
                    </div>
                    <div id="tab_table_Territory_q" class="tab-pane">
                        @(Html.Kendo().Grid<DB.ORM.DB.sp_Target_TerritoryAnalysis>()
                                            .Name("Territory_q_Grid")
                                            .Columns(columns =>
                                            {

                                                columns.Bound(p => p.TerritoryName).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.TerritoryTarget_Qty).AddDefaultOptions().Format("{0:0,0.00}");
                                                columns.Bound(p => p.TerritoryTargetGrowth_Qty).AddDefaultOptions().Format("{0:0%}");
                                            })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.TerritoryName);
                                                }, read => read.Action("_GetTerritoryAnalysis_Table", formController))
                                            )
                        )
                    </div>
                </div>
            </div>
            <!-- /tile body -->
        </div>
        <!-- /tile -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- tile -->
        <div class="portlet light ">
            @Html.FormHeaderWithButtons("Profile")
            <!-- tile body -->
            <div class="portlet-body form">
                <div id="tab_chart_Profile" class="tab-pane active">
                    @(Html.Kendo().Grid<DB.ORM.DB.sp_Target_Analysis_ProfileTarget>()
                                           .Name("Profile_Grid")
                                           .Columns(columns =>
                                           {

                                               columns.Bound(p => p.ManagerName).AddDefaultOptionsAndViewInMobile().Title("Sup");
                                               columns.Bound(p => p.EmployeeName).AddDefaultOptions().Title("Rep");
                                               columns.Bound(p => p.ProfileTarget).AddDefaultOptions().Format("{0:0,0.00}").Title("Val.");
                                               columns.Bound(p => p.ProfileTargetGrowth).AddDefaultOptions().Format("{0:0%}").Title("Val. PPG");
                                               columns.Bound(p => p.ProfileTarget_Qty).AddDefaultOptions().Format("{0:0,0.00}").Title("Qty");
                                               columns.Bound(p => p.ProfileTargetGrowth_Qty).AddDefaultOptions().Format("{0:0%}").Title("Qty PPG");
                                           })
                                           .AddDefaultOptions()
                                           .DataSource(dataSource => dataSource
                                               .AddDefaultSettings(model =>
                                               {
                                                   model.Id(p => p.ProfileId);
                                               }, read => read.Action("_GetProfileAnalysis_Table", formController))
                                           )
                    )

                </div>
            </div>
            <!-- /tile body -->
        </div>
        <!-- /tile -->
    </div>
</div>


@section MasterFilters{

    <!-- BEGIN THEME PANEL -->
    <div class="theme-panel">
        <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advanced filters panel">
            <i class="fa fa-filter"></i>
        </div>
        <div class="toggler-close">
            <i class="icon-close"></i>
        </div>
        <div class="theme-options">
            <div class="theme-option theme-colors clearfix">
                <span> Filters </span>
            </div>
            <div class="theme-option">
                <span> Year </span>
                @(Html.Kendo().DropDownList()
                    .Name("year")
                    .Items(a=> {
                        a.Add().Text("YTD 2019").Value("2019");
                        a.Add().Text("2018").Value("2018");
                    })
                )
            </div>
            <div class="theme-option">
                <span> Team </span>
                @(Html.Kendo().DropDownList()
                    .Name("team")
                    .Items(a =>
                    {
                        a.Add().Text("Line 1").Value("1");
                        a.Add().Text("Line 2").Value("2");
                    })
                    .OptionLabel("Select ...")
                )
            </div>
            <div class="theme-option">
                <span> Employee</span>
                @(Html.Kendo().DropDownList()
                    .Name("emp")
                    .Items(a =>
                    {
                        a.Add().Text("e 1").Value("1");
                        a.Add().Text("e 2").Value("2");
                    })
                    .OptionLabel("Select ...")
                )
            </div>
            <div class="theme-option">
                <span> Product</span>
                @(Html.Kendo().DropDownList()
                    .Name("prod")
                    .Items(a =>
                    {
                        a.Add().Text("p 1").Value("1");
                        a.Add().Text("p 2").Value("2");
                    })
                    .OptionLabel("Select ...")
                )
            </div>
            <div class="theme-option">
                <span> Territory</span>
                @(Html.Kendo().DropDownList()
                    .Name("terr")
                    .Items(a =>
                    {
                        a.Add().Text("t 1").Value("1");
                        a.Add().Text("t 2").Value("2");
                    })
                    .OptionLabel("Select ...")
                )
            </div>
        </div>
    </div>
    <!-- END THEME PANEL -->

}


@section scripts{

    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>

}
