﻿@model Web.App.Models.VMVisit

@{
    Layout = "~/Views/Shared/_RepLayout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("create", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.FormEditorRow(PH.Visit.Date, Html.Kendo().DateTimePickerFor(m=>m.VisitDate)
                .Max(DateTime.Now)
                .Min(DateTime.Now.AddDays(-1))
                .Culture("en-us")
                .HtmlAttributes(new { style="width:100%" })
                )
                @Html.FormDropDownListRow(m => m.AccountId, (IEnumerable<SelectListItem>)ViewBag.Accounts, true, PH.Visit.Account)
                @Html.FormEditorRow(PH.Visit.Doctors, Html.Kendo().MultiSelectFor(m=>m.Doctors)
                .HtmlAttributes(new { style="width:100%" })
                .DataTextField("Text")
                .DataValueField("Value")
                .Placeholder("Select Doctors...")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadDoctors", formController)
                            .Data("filterDoctors");
                    })
                    .ServerFiltering(true);
                })
                .AutoBind(false)
                .AutoClose(false)
                .IgnoreCase(true)
                .ClearButton(true)
                )
                @Html.FormEditorRow(PH.Visit.Coaches, Html.Kendo().MultiSelectFor(m=>m.Coaches)
                .HtmlAttributes(new { style="width:100%" })
                .DataTextField("Text")
                .DataValueField("Value")
                .Placeholder("Select Coaches...")
                .AutoClose(false)
                .IgnoreCase(true)
                .ClearButton(true)
                .DataSource(s=>s.Read("ReadCoaches", formController))
                )

                @Html.FormEditorRow(PH.Visit.Presentations, Html.Kendo().MultiSelectFor(m=>m.Presentations)
                .HtmlAttributes(new { style="width:100%" })
                .DataTextField("PresentationName")
                .DataValueField("PresentationId")
                .Placeholder("Select Presentations...")
                 .ItemTemplate("<span class=\"k-state-default\" style=\"background-image: url(" + Url.Content("~/images/icons/") + "#:data.Ext#.jpg" + ");\" ></span>" +
                        "<span class=\"k-state-default\"><h3>#: data.PresentationName #</h3><a download href='" + @Url.Content("~/uploads/presentation/#:data.PresentationId#.#:data.Ext#") + "'>#:data.FilePath#</a></span>")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("ReadPresentations", formController);
                    })
                    .ServerFiltering(true);
                })
                .AutoBind(false)
                .AutoClose(false)
                .IgnoreCase(true)
                .ClearButton(true)
                )
                @Html.HiddenFor(m => m.Lat)
                @Html.HiddenFor(m => m.Lng)

                @Html.FormActionsRow()
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<script>
    function onChange(arg) {
        $("#Presentations").val("[" + this.selectedKeyNames().join(", ") + "]");
    }

    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition, showError);
        } else {
            alert("Geolocation is not supported by this browser.");
            $(":submit").attr("disabled", true);
        }
        $("#AccountId").on("change", accountsChange);
    });
    function setPosition(position) {
        $("#Lat").val(position.coords.latitude);
        $("#Lng").val(position.coords.longitude);
    }
    function showError(error) {
        $(":submit").attr("disabled", true);
        switch (error.code) {
            case error.PERMISSION_DENIED:
                swal("GPS!", "You denied the request for Geolocation!", "error");
                break;
            case error.POSITION_UNAVAILABLE:
                swal("GPS!", "Location information is unavailable!", "error");
                break;
            case error.TIMEOUT:
                swal("GPS!", "The request to get user location timed out!", "error");
                break;
            case error.UNKNOWN_ERROR:
                swal("GPS!", "An unknown error occurred!", "error");
                break;
        }
    }
    function distance(lat1, lon1, lat2, lon2) {
        var R = 500; // Earth's radius in Km
        return Math.acos(Math.sin(lat1) * Math.sin(lat2) +
            Math.cos(lat1) * Math.cos(lat2) *
            Math.cos(lon2 - lon1)) * R;
    }
    //if (distance(user.lat, user.lon, post.lat, post.lon) <= desiredRadiusInKm) {
    //    // return true;
    //} else {
    //    // return false;
    //}
    function filterDoctors() {
        return {
            accountId: $("#AccountId").val(),
            //vdate: $("#VisitDate").val()
        };
    }
    function accountsChange() {
        $("#Doctors").data("kendoMultiSelect").dataSource.read();
    }
</script>