﻿@using Jmelosegui.Mvc.GoogleMap;
@model DB.ORM.DB.vw_VisitsPerDate
@{
    var title = "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var visitslist = ViewBag.VisitsList as IEnumerable<DB.ORM.DB.vw_VisitsList>;
    var GKey = ViewBag.GKey as string;
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light">
    <div class="row">
        <div class="col-md-12">
            @Html.FormDisplayRow(m=>m.EmployeeName,PH.Visit.EmployeeName)
        </div>
        <div class="col-md-6">
            @Html.FormDisplayRow(Model.VisitDate.Value.ToLongDateString(), PH.Visit.Date)
            @Html.FormDisplayRow(m => m.TerritoriesCount, PH.Visit.TerritoriesCount)
        </div>
        <div class="col-md-6">
            @Html.FormDisplayRow(m => m.AccountsCount, PH.Visit.AccountsCount)
            @Html.FormDisplayRow(m => m.DoctorsCount, PH.Visit.DoctorsCount)
        </div>
        @Html.FormActionsRow(FormActionLink.BackButton())
    </div>
</div>

<div class="portlet light ">
    @Html.FormHeaderTabbed((string)ViewBag.Title, new FormHeaderTab { Id = "tab_details", Name = "Details" }
        , new FormHeaderTab { Id = "tab_map", Name = "Map" })
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="form-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_details">
                    @(Html.Kendo().Grid(visitslist)
                                            .Name("detGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(p => p.VisitId).Hidden();
                                                columns.Bound(p => p.VisitDate).Title(PH.Visit.VisitDate).AddDefaultOptions().Format("{0:hh:mm:ss tt}");
                                                columns.Bound(p => p.AccountName).Title(PH.Visit.AccountName).AddDefaultOptions();
                                                columns.Bound(p => p.DoctorsCount).Title(PH.Visit.DoctorsCount).AddDefaultOptions();
                                                columns.Bound(p => p.Address).Title(PH.Visit.Address).AddDefaultOptions();
                                                columns.Bound(p => p.IsReviewed).Title(PH.Visit.IsReviewed).AddDefaultOptions();
                                                columns.Bound(p => p.TerritoryName).Title(PH.Visit.TerritoryName).AddDefaultOptions();

                                                columns.AddActionColumns("VisitId",
                                                new ListActionColumn
                                                {
                                                    Icon = "fa fa-check",
                                                    OnClick = "return approve('#=VisitId#')",
                                                    Url = "\\#"

                                                }, new ListActionColumn
                                                {
                                                    Icon = "fa fa-times red",
                                                    OnClick = "return reject('#=VisitId#')",
                                                    Url = "\\#"

                                                });

                                            })
                                        .AddDefaultOptions()
                                         .DataSource(dataSource => dataSource
                                             .AddDefaultSettings(model =>
                                             {
                                                 model.Id(p => p.VisitId);
                                                 model.Field(a => a.VisitId).Editable(false);
                                             }, read => read.Action("ReadVisitsList", formController, new { date = Model.VisitDate }))
                                         )
                    )
                    <script>
                        function approve(id) {
                            swal({
                                title: @PH.SWAL.SwALTitle,
                                text: @string.Format(PH.SWAL.SwAlTextApprove, PH.Visit.SwAlVisit),
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonClass: "btn-primary",
                                confirmButtonText: "Yes, Approve!",
                                closeOnConfirm: false
                            },
                                function () {
                                     $.ajax({
                                            url: '@Url.Action("ApproveVisit")',
                                         data: { id: id},
                                            async: false,
                                            type: "POST",
                                            success: function (data) {
                                                if ($.trim(data) === "true") {
                                                    swal(@PH.SWAL.SwAlHeaderApprove, @string.Format(PH.SWAL.SwAlApprove, PH.Visit.SwAlVisit), "success");
                                                    reloadGrid("#detGrid");
                                                }
                                                else {
                                                    swal(@PH.SWAL.SwAlHeaderError, @string.Format(PH.SWAL.SwAlTextApproveError, PH.Visit.SwAlVisit), "error");
                                                    //alert("Record is not saved !!!");
                                                }
                                            },
                                            error: function (errorThrown) {
                                                //alert("There is an error while creating an account!");
                                                swal(@PH.SWAL.SwAlHeaderError, @string.Format(PH.SWAL.SwAlTextErrorWhenApprove, PH.Visit.SwAlVisit), "error");
                                            }
                                        });

                                });
                        }
                        function reject(id) {
                           swal({
                                title: @PH.SWAL.SwALTitle,
                                text:  @string.Format(PH.SWAL.SwAlTextReject, PH.Visit.SwAlVisit),
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonClass: "btn-danger",
                                confirmButtonText: "Yes, Reject!",
                                closeOnConfirm: false
                            },
                                function () {
                                     $.ajax({
                                            url: '@Url.Action("RejectVisit")',
                                         data: { id: id},
                                            async: false,
                                            type: "POST",
                                            success: function (data) {
                                                if ($.trim(data) === "true") {
                                                    swal(@PH.SWAL.SwAlHeaderDone, @string.Format(PH.SWAL.SwAlReject,PH.Visit.SwAlVisit), "success");
                                                    reloadGrid("#detGrid");
                                                }
                                                else {
                                                    swal(@PH.SWAL.SwAlHeaderError, @string.Format(PH.SWAL.SwAlTextRejectError, PH.Visit.SwAlVisit), "error");
                                                    //alert("Record is not saved !!!");
                                                }
                                            },
                                            error: function (errorThrown) {
                                                //alert("There is an error while creating an account!");
                                                swal(@PH.SWAL.SwAlHeaderError, @string.Format(PH.SWAL.SwAlTextErrorWhenReject, PH.Visit.SwAlVisit), "error");
                                            }
                                        });

                                });
                        }
                    </script>
                </div>
                <div class="tab-pane" id="tab_map">
                    @{
                        Html.GoogleMap()
                            .Name("map")
                            .Height(400)
                            .FitToMarkersBounds(true)
                            //.MarkersGeocoding(true)
                            //.Zoom(12)
                            .ApiKey(GKey)
                            .BindTo<DB.ORM.DB.vw_VisitsList, Marker>(visitslist, mappings => mappings.For<DB.ORM.DB.vw_VisitsList>(
                                binding => binding.ItemDataBound((marker, vlist) =>
                                {
                                    marker.Latitude = Convert.ToDouble(vlist.Latitude);
                                    marker.Longitude = Convert.ToDouble(vlist.Longitude);
                                    marker.Title = string.Format("{0} - {1}", vlist.AccountName, vlist.Address);
                                                //marker.Address = vlist.Address;
                                                marker.ZIndex = vlist.AccountId;

                                })
                                ))
                                .Render();
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}