﻿@model DB.ORM.DB.TeamSalesProduct
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @(modeAdd ? null : Html.HiddenFor(m => m.TeamSalesProductId))
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true,PH.Team.Product)
            @Html.FormDropDownListRow(m => m.TeamId, (List<SelectListItem>)ViewBag.Teams, true, PH.Team.team)
            @Html.FormEditorRow(m => m.FromDate,PH.Team.FromDate)
            @Html.FormEditorRow(m => m.ToDate, PH.Team.ToDate)

            @Html.FormActionsRow("Edit", new { id = Model.TeamId}, "tab_teamSalesProduct")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
