﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionsBtn = (List<Services.Business.Sales.ImportedFileStatus>)ViewBag.Actions;
}
<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    @PH.SalesManualSetting.UpdateSalesEmployeesStructure
                </div>
            </div>
            @using (Html.BeginForm("EmployeeStructureRun", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
            {
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row static-info">
                                <div class="col-md-5 name"> @PH.SalesManualSetting.Function </div>
                                <div class="col-md-7 value">
                                    @PH.SalesManualSetting.Ceilingusingstoredprocedure
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn blue">@PH.SalesManualSetting.Execute</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    @PH.SalesManualSetting.CeilingCalculationforMonth
                </div>
            </div>
            @using (Html.BeginForm("CeilingCalcRun", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
            {
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row static-info">
                                <div class="col-md-5 name">@PH.SalesManualSetting.CeilingParameter</div>
                                <div class="col-md-7 value">
                                            @(Html.Kendo().DropDownList()
                                                .Name(PH.SalesManualSetting.time)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .BindTo((List<SelectListItem>)ViewBag.Time)
                                                .HtmlAttributes(new { style = "width: 100%" })
                                            )
</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn blue">@PH.SalesManualSetting.Execute</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

