﻿@model Web.App.Models.VMMarketShareImport
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("create", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.FormEditorRow(m => m.Year,PH.Marketshare.Year)
            @Html.FormDropDownListRow(m => m.Level, (IEnumerable<SelectListItem>)ViewBag.Levels, true, PH.Marketshare.Level)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Marketshare.Country)
            @Html.FormEditorRow("File",
                @Html.Kendo().Upload()
                .Name("File")
                .ShowFileList(true)
                .Multiple(false)
                .Validation(v=>v
                    .AllowedExtensions(new string[] {"xls", "xlsx"})
                    .MaxFileSize(5*1000*1000)
                    )
           )
            @Html.FormEditorRow("", null)
            @Html.FormActionsRow(
               FormActionButton.SubmitButton(),
               FormActionButton.ResetButton(),
               new FormActionButton { Label=PH.Marketshare.Download,Type="button", CssClass="blue", OtherProperties="onclick='return downloadTemplate();'" },
               FormActionLink.BackButton())
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<script>
        function downloadTemplate() {
            var templateUrl = '@Url.Action("DownloadTemplate")';
            window.location = templateUrl + "?year=" + $("#Year").val() + "&level=" + $("#Level").data("kendoDropDownList").value()+ "&countryId=" + $("#CountryId").data("kendoDropDownList").value();
            return true;
        }
</script>