﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Country>()
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.CountryId).Hidden();
                columns.Bound(p => p.CountryCode).Title(PH.Country.CountryCode).AddDefaultOptionsAndViewInMobile();
                columns.Bound(p => p.CountryName).Title(PH.Country.CountryName).AddDefaultOptionsAndViewInMobile();
                columns.AddAuditColumns();
                columns.AddActionColumns("CountryId");
                columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.CountryId);
                                model.Field(a => a.CountryId).Editable(false);
                            })
                        )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.CountryCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.CountryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>