﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_User>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.EmployeeId).Hidden();
                    columns.Bound(p => p.Picture).Title(PH.User.Picture)
                    .ClientTemplate(
                    @"# if (Picture != null) {#<img width=30 height=30 onerror='imgError(this);' src='" + @Url.Content("~/Uploads/Employee/#:EmployeeId#/#:Picture#") + "'/>#} else{# <img width=30 height=30 src='"+ @Url.Content("~/Images/defaultUserIcon.png") + "'> #}#")
                        .AddDefaultOptions().Filterable(false);
                    columns.Bound(p => p.EmployeeName).Title(PH.User.EmployeeName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.LoginId).Title(PH.User.Login).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.Active).Title(PH.User.Active).AddDefaultOptions();
                    columns.Bound(p => p.IsAdmin).Title(PH.User.IsAdmin).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.RoleName).Title(PH.User.RoleName).AddDefaultOptions();
                    columns.AddAuditColumns();
                    columns.AddActionColumns("EmployeeId", ListActionColumn.EditColumn("EmployeeId"));
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                    .AddDefaultOptions()
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.CountryId);
                                            model.Field(a => a.CountryId).Editable(false);
                                        })
                                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.CountryCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.CountryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>