﻿@using Jmelosegui.Mvc.GoogleMap;
@model DB.ORM.DB.vw_VisitsPerDate
@{
    Layout = "~/Views/Shared/_RepLayout.cshtml";
    var title = "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var visitslist = ViewBag.VisitsList as IEnumerable<DB.ORM.DB.vw_VisitsList>;
    var GKey = ViewBag.GKey as string;
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light">
    <div class="row">
        <div class="col-md-6">
            @Html.FormDisplayRow(Model.VisitDate.Value.ToLongDateString(), PH.RepVisit.Date)
            @Html.FormDisplayRow(m => m.TerritoriesCount)
        </div>
        <div class="col-md-6">
            @Html.FormDisplayRow(m => m.AccountsCount,PH.RepVisit.AccountsCount)
            @Html.FormDisplayRow(m => m.DoctorsCount, PH.RepVisit.DoctorsCount)
        </div>
        @Html.FormActionsRow(FormActionLink.BackButton())
    </div>
</div>

<div class="portlet light ">
    @Html.FormHeaderTabbed((string)ViewBag.Title, new FormHeaderTab { Id = "tab_details", Name = "Details" }
        , new FormHeaderTab { Id = "tab_map", Name = "Map" })
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="form-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_details">
                    @(Html.Kendo().Grid(visitslist)
                                    .Name("detGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.VisitId).Hidden();
                                        columns.Bound(p => p.VisitDate).Title(PH.RepVisit.VisitDate).AddDefaultOptions().Format("{0:hh:mm:ss tt}");
                                        columns.Bound(p => p.AccountName).Title(PH.RepVisit.AccountName).AddDefaultOptions();
                                        columns.Bound(p => p.DoctorsCount).Title(PH.RepVisit.DoctorsCount).AddDefaultOptions();
                                        columns.Bound(p => p.Address).Title(PH.RepVisit.Address).AddDefaultOptions();
                                        columns.Bound(p => p.IsReviewed).Title(PH.RepVisit.IsReviewed).AddDefaultOptions();
                                        columns.Bound(p => p.TerritoryName).Title(PH.RepVisit.TerritoryName).AddDefaultOptions();
                                        columns.AddActionColumns("VisitId",
                                            ListActionColumn.DeleteColumn("VisitId", Url.Action("DeleteVisit")));
                                    })
                                .AddDefaultOptions()
                                 .DataSource(dataSource => dataSource
                                     .AddDefaultSettings(model =>
                                     {
                                         model.Id(p => p.VisitId);
                                         model.Field(a => a.VisitId).Editable(false);
                                     }, read => read.Action("ReadVisitsList", formController, new { date = Model.VisitDate }))
                                 )
                    )
                </div>
                <div class="tab-pane" id="tab_map">
                    @{
                        Html.GoogleMap()
                            .Name("map")
                            .Height(400)
                            .FitToMarkersBounds(true)
                            //.MarkersGeocoding(true)
                            //.Zoom(12)
                            .ApiKey(GKey)
                            .BindTo<DB.ORM.DB.vw_VisitsList, Marker>(visitslist, mappings => mappings.For<DB.ORM.DB.vw_VisitsList>(
                                binding => binding.ItemDataBound((marker, vlist) =>
                                {
                                    marker.Latitude = Convert.ToDouble(vlist.Latitude);
                                    marker.Longitude = Convert.ToDouble(vlist.Longitude);
                                    marker.Title = string.Format("{0} - {1}", vlist.AccountName, vlist.Address);
                                                //marker.Address = vlist.Address;
                                                marker.ZIndex = vlist.AccountId;

                                })
                                ))
                                .Render();
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}