﻿@{
    Layout = ViewBag.Layout;
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_VisitsPerDate>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.VisitDate).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.AccountsCount).Title(PH.RepVisit.AccountsCount).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.TerritoriesCount).Title(PH.RepVisit.TerritoriesCount).AddDefaultOptions();
                    columns.Bound(p => p.DoctorsCount).Title(PH.RepVisit.DoctorsCount).AddDefaultOptionsAndViewInMobile();
                    columns.AddActionColumns("VisitDate", new ListActionColumn { Icon= "glyphicon glyphicon-pencil pencil ", Url = string.Format("{0}/#=kendo.toString(VisitDate,'yyyy-MMM-dd')#", Url.Action("Edit")) }
                        );
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.CountryId);
                            model.Field(a => a.CountryId).Editable(false);
                        })
                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Date</strong>
            <p class="col-template-val">#=data.VisitDate#</p>

            <strong>Accounts Count</strong>
            <p class="col-template-val">#=data.AccountsCount#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>