﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="portlet light ">
            @Html.FormHeaderWithButtons((string)ViewBag.Title)
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="form-body">
                    @RenderBody()
                    @Html.FormActionsRow(new FormActionButton { Label = "Render", OtherProperties = "onclick=\"showReport()\"", Type = "btn" })
                </div>
            </div>
            <!-- /tile body -->
        </div>
    </div>
    <div class="col-md-8">
        <div id="ReportContent" style="width: 100%;">
        </div>
    </div>
</div>
<script type="text/javascript">
	var getParameters = function () {
		return {
		};
	};

	function showReport() {
		kendo.ui.progress($("#ReportContent"), true);
		$("#ReportContent").load('@Url.Action("ReportContent","BaseReport")', {
			reportName: "@ViewBag.ReportName",
            pparameters: getParameters()
		}, function (response, status, xhr) {
			if (status == "error") {
				alert('Error802');
				kendo.ui.progress($("#ReportContent"), false);
			}
		});
	};
</script>
@RenderSection("Scripts", false)