﻿@model DB.ORM.DB.Territory
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @(modeAdd ? null : Html.HiddenFor(m => m.TerritoryId))
                @Html.FormEditorRow(m => m.TerritoryCode,PH.Territory.TerritoryCode,true)
                @Html.FormEditorRow(m => m.TerritoryName, PH.Territory.TerritoryName, true)
                @Html.FormEditorRow(m => m.ParentTerritoryId,PH.Territory.ParentTerritory)
                @Html.FormEditorRow(m => m.CountryId, PH.Territory.Country)
                @Html.FormActionsRow()
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
