﻿@model DB.ORM.DB.ProductDosageForm
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.DosageFormId))
            @Html.FormEditorRow(m => m.DosageFormCode,PH.Product.DosageFormCode,true)
            @Html.FormEditorRow(m => m.DosageFormName, PH.Product.DosageFormName,true)
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.Product.product)
            @Html.FormEditorRow(m => m.Size, PH.Product.Size)
            @Html.FormDropDownListRow(m => m.UnitId, (List<SelectListItem>)ViewBag.Units,false, PH.Product.Unit)
            @Html.FormEditorRow(m => m.PackFactor, PH.Product.PackFactor)

            @Html.FormActionsRow("Edit", new { id = Model.ProductId }, "tab_dosagesforms")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
