﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Product>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.ProductId).Hidden();
                        columns.Bound(p => p.ProductCode).Title(PH.Product.ProductCode).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.ProductName).Title(PH.Product.ProductName).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.DosageFormCount).Title(PH.Product.DosageFormCount).AddDefaultOptions();
                        columns.Bound(p => p.Active).Title(PH.Product.Active).AddDefaultOptionsAndViewInMobile();
                        columns.AddAuditColumns();
                        columns.AddActionColumns("ProductId");
                        columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.ProductId);
                                        model.Field(a => a.ProductId).Editable(false);
                                    })
                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.CountryCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.CountryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>