﻿@model DB.ORM.DB.Account
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.AccountId))
            @Html.FormEditorRow(m => m.AccountName,PH.Account.AccountName,true)
            @Html.FormDropDownListRow(m => m.AccountTypeId, (List<SelectListItem>)ViewBag.AccountTypes, true, PH.Account.AccountType)
            @Html.FormEditorRow(m => m.Address ,PH.Account.Address)
            @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, true, PH.Account.TerritoryName)
            @Html.FormDropDownListRow(m => m.PotentialId, (List<SelectListItem>)ViewBag.Potentials,false ,PH.Account.Potential)

            @Html.FormEditorRow(m => m.Active, PH.Account.Active)
            @Html.FormEditorRow(m => m.Approved, PH.Account.Approved)
            @Html.FormDropDownListRow(m => m.CategoryId, (List<SelectListItem>)ViewBag.Categories, true, PH.Account.Category)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Account.Country)

            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
