﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Account>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.AccountId).Hidden();
            columns.Bound(p => p.AccountCode).Title(PH.Account.AccountCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
            columns.Bound(p => p.AccountName).Title(PH.Account.AccountName).AddDefaultOptionsAndViewInMobile().Filterable(f => f.Search(true).Multi(false));
            //columns.Bound(p => p.AccountTypeName).AddDefaultOptions();
            columns.Bound(p => p.Address).Title(PH.Account.Address).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
            columns.Bound(p => p.TerritoryName).Title(PH.Account.TerritoryName).AddDefaultOptionsAndViewInMobile().Filterable(f => f.Search(true).Multi(false));
            //columns.Bound(p => p.PotentialName).AddDefaultOptions();
            //columns.Bound(p => p.Approved).AddDefaultOptions();
            columns.Bound(p => p.CategoryName).Title(PH.Account.CategoryName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
            //columns.Bound(p => p.CountryCode).AddDefaultOptions();
            columns.Bound(p => p.Active).Title(PH.Account.Active).AddDefaultOptions();
            columns.AddAuditColumns();
            columns.AddActionColumns("AccountId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.AccountId);
                            model.Field(a => a.AccountId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.AccountName#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.TerritoryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>