﻿@model DB.ORM.DB.TimeDefinition
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @(modeAdd ? null : Html.HiddenFor(m => m.TimeDefinitionId))
            @Html.FormEditorRow(m => m.PeriodName,PH.TimeDefinition.PeriodName,true)
            @Html.FormEditorRow(m => m.FromDate, PH.TimeDefinition.FromDate)
            @Html.FormEditorRow(m => m.ToDate, PH.TimeDefinition.ToDate)
            @Html.FormEditorRow(m => m.QuarterName, PH.TimeDefinition.QuarterName)
            @Html.FormEditorRow(m => m.Year, PH.TimeDefinition.Year)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.TimeDefinition.Country)
            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
