﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_TimeDefinition>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.TimeDefinitionId).Hidden();
                    columns.Bound(p => p.PeriodName).Title(PH.TimeDefinition.PeriodName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.FromDate).Title(PH.TimeDefinition.FromDate).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.ToDate).Title(PH.TimeDefinition.ToDate).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.QuarterName).Title(PH.TimeDefinition.QuarterName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.Year).Title(PH.TimeDefinition.Year).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.CountryCode).Title(PH.TimeDefinition.CountryCode).AddDefaultOptionsAndViewInMobile();
                  
                    columns.AddAuditColumns();
                    columns.AddActionColumns("TimeDefinitionId");
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                    .AddDefaultOptions()
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.TimeDefinitionId);
                                            model.Field(a => a.TimeDefinitionId).Editable(false);
                                        })
                                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Name</strong>
            <p class="col-template-val">#=data.PeriodName#</p>
            <strong>From</strong>
            <p class="col-template-val">#=data.FromDate#</p>
            <strong>To</strong>
            <p class="col-template-val">#=data.ToDate#</p>
            <strong>Country</strong>
            <p class="col-template-val">#=data.CountryCode#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>