﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_CeilingDosageAccount>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                            columns.Bound(p => p.CeilingDosageAccountId).Hidden();
                            columns.Bound(p => p.AccountName).Title(PH.CeilingDosage.AccountName).AddDefaultOptions();
                            columns.Bound(p => p.DosageFormName).Title(PH.CeilingDosage.DosageFormName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.FromPeriod).Title(PH.CeilingDosage.FromPeriod).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.ToPeriod).Title(PH.CeilingDosage.ToPeriod).AddDefaultOptionsAndViewInMobile();
                            columns.AddActionColumns("CeilingDosageAccountId");
                            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                            })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.CeilingDosageAccountId);
                                                    model.Field(a => a.CeilingDosageAccountId).Editable(false);
                                                })
                                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.ProfileCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.ProfileName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>