﻿@model DB.ORM.DB.Target
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}


<!-- tile -->
<div class="portlet light ">
    @(Html.FormHeaderTabbed("Edit " + ViewData["EntityName"], 
        new FormHeaderTab { Id = "tab_details", Name = "Details" }, 
        new FormHeaderTab { Id = "tab_Sups", Name = "Supervisors Target" }) )
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @using (Html.BeginForm("Edit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                <div class="form-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @(Html.HiddenFor(m => m.TargetId))
                    @Html.FormEditorRow(m => m.Year, PH.TargetAnalyzer.Year)
                    @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.TargetAnalyzer.Country)
                    @Html.FormActionsRow(FormActionLink.BackButton("Index"))
                </div>
                }
            </div>
            <div class="tab-pane" id="tab_Sups">
                @(Html.Kendo().Grid<DB.ORM.DB.fn_Target_Profile_SupervisorSummary>()
                        .Name("MSTGrid")
                        .Columns(columns =>
                        {
                        columns.Bound(p => p.SupId).Hidden();
                        columns.Bound(p => p.TeamName).Title(PH.TargetAnalyzer.TeamName).AddDefaultOptions();
                        columns.Bound(p => p.SupName).Title(PH.TargetAnalyzer.SupName).AddDefaultOptions();
                        columns.Bound(p => p.Qty).Title(PH.TargetAnalyzer.Qty).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.Amount).Title(PH.TargetAnalyzer.Amount).AddDefaultOptions();
                        columns.Bound(p => p.LY_Qty).Title(PH.TargetAnalyzer.LY_Qty).AddDefaultOptions();
                        columns.Bound(p => p.LY_Amount).Title(PH.TargetAnalyzer.LY_Amount).AddDefaultOptions();

                        columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ts(data)#");
                    })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.SupId);
                            model.Field(a => a.SupId).Editable(false);
                        }, read => read.Action("ReadSupSummaryList", formController, new { year = Model.Year, countryId = Model.CountryId }))
                    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ts" type="text/x-kendo-template">
                    <strong>Team</strong>
                    <p class="col-template-val">#=data.TeamName#</p>
                    <strong>Supervisor</strong>
                    <p class="col-template-val">#=data.SupName#</p>
                    <strong>Qty</strong>
                    <p class="col-template-val">#=data.Qty#</p>
                    <strong>Amount</strong>
                    <p class="col-template-val">#=data.Amount#</p>
                </script>
                <script>
                    var resColTemplate_ts = kendo.template($("#responsive-column-template-ts").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>
            
        </div>
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
