﻿@model DB.ORM.DB.Employee
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    bool active = title== "Edit"? Model.Active:false;
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<!-- tile -->
<div class="portlet light ">
    @(modeAdd ? Html.FormHeaderWithButtons((string)title + " " + eName) : Html.FormHeaderTabbed((string)title + " " + eName, new FormHeaderTab { Id = "tab_details", Name = PH.Employee.Details }, new FormHeaderTab { Id = "tab_employeeProfile", Name = PH.Employee.EmployeeProfile }, new FormHeaderTab { Id = "tab_employeeAccount", Name = PH.Employee.EmployeeAccount }, new FormHeaderTab { Id = "tab_employeeTerritory", Name = PH.Employee.EmployeeTerritory }, new FormHeaderTab { Id = "tab_employeeHistory", Name = PH.Employee.EmployeeHistory }) )
    <!-- tile body -->
    <div class="portlet-body form">

        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
                @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true) 

                        @(modeAdd ? null : Html.HiddenFor(m => m.EmployeeId))
                        @Html.FormEditorRow(m => m.EmployeeCode, PH.Employee.EmployeeCode)
                        @Html.FormEditorRow(m => m.EmployeeName,PH.Employee.EmployeeName, true)
                        @Html.FormEditorRow(m => m.NationalIDNumber, PH.Employee.NationalIDNumber, true)
                        @Html.FormEditorRow(PH.Employee.BirthDate,Html.Kendo().DateTimePickerFor(m => m.BirthDate)
                              .Max(DateTime.Now)
                              .Culture("en-us"))
                        @Html.FormDropDownListRow(m => m.MaritalStatus, (List<SelectListItem>)ViewBag.MaritalStatuses,true, PH.Employee.MaritalStatus)
                        @Html.FormDropDownListRow(m => m.Gender, (List<SelectListItem>)ViewBag.Genders,false, PH.Employee.Gender)
                        @Html.FormEditorRow(m => m.HireDate)
                        @*@Html.FormEditorRow(m => m.LoginId)
                        @Html.FormEditorRow(m => m.Password)*@
                        @Html.FormDropDownListRow(m => m.JobTitleId, (List<SelectListItem>)ViewBag.JobTitles, true, PH.Employee.JobTitleName)
                        @Html.FormDropDownListRow(m => m.DepartmentId, (List<SelectListItem>)ViewBag.Departments,false, PH.Employee.DepartmentName)
                        @Html.FormEditorRow(m => m.Email, PH.Employee.Email)
                        @Html.FormEditorRow(m => m.Mobile, PH.Employee.Mobile)
                        @Html.FormEditorRow(m => m.Active, PH.Employee.Active)
                        @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Employee.Country)

                        @Html.FormActionsRow()
                    </div>
                }

            </div>

            <div class="tab-pane" id="tab_employeeProfile">
                @Html.AddButtonForChild("CreateEmployeeProfile", new { employeeId = modeAdd ? 0 : Model.EmployeeId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_EmployeeProfile>()
                        .Name("EPGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.EmployeeProfileId).Hidden();
                            columns.Bound(p => p.EmployeeName).Title(PH.Employee.EmployeeName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.ProfileName).Title(PH.Employee.ProfileName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.FromDate).Title(PH.Employee.FromDate).AddDefaultOptions();
                            columns.Bound(p => p.ToDate).Title(PH.Employee.ToDate).AddDefaultOptions();

                            columns.AddAuditColumns();
                            columns.AddActionColumns("EmployeeProfileId", Url.Action("EditEmployeeProfile"), Url.Action("DeleteEmployeeProfile"));
                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ep(data)#");
                    })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.EmployeeProfileId);
                            model.Field(a => a.EmployeeProfileId).Editable(false);
                        }, read => read.Action("ReadEmployeeProfileList", formController, new { EmployeeId = modeAdd ? 0 : Model.EmployeeId }))
                    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ep" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.EmployeeName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_ep = kendo.template($("#responsive-column-template-ep").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>



            <div class="tab-pane" id="tab_employeeAccount">

                @(Html.Kendo().Grid<DB.ORM.DB.vw_EmployeeAccount>()
                        .Name("EAGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.ProfileAccountId).Hidden();
                            columns.Bound(p => p.ProfileName).Title(PH.Employee.ProfileName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.AccountName).Title(PH.Employee.AccountName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.TerritoryName).Title(PH.Employee.TerritoryName).AddDefaultOptions();
                            columns.Bound(p => p.CategoryName).Title(PH.Employee.CategoryName).AddDefaultOptions();
                            columns.Bound(p => p.FromDate).Title(PH.Employee.FromDate).AddDefaultOptions();
                            columns.Bound(p => p.ToDate).Title(PH.Employee.ToDate).AddDefaultOptions();

                            columns.AddAuditColumns();

                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ea(data)#");
                    })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.ProfileAccountId);
                            model.Field(a => a.ProfileAccountId).Editable(false);
                        }, read => read.Action("ReadEmployeeAccountList", formController, new { EmployeeId = modeAdd ? 0 : Model.EmployeeId }))
                    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ea" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.EmployeeName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_ea = kendo.template($("#responsive-column-template-ea").html());
                </script>
                
                <!-- /Grid Mobile View -->
            </div>



            <div class="tab-pane" id="tab_employeeTerritory">

                @(Html.Kendo().Grid<DB.ORM.DB.vw_EmployeeTerritory>()
                                .Name("ETGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.ProfileTerritoryId).Hidden();
                                    columns.Bound(p => p.ProfileName).Title(PH.Employee.ProfileName).AddDefaultOptionsAndViewInMobile();
                                    columns.Bound(p => p.TerritoryName).Title(PH.Employee.TerritoryName).AddDefaultOptions();
                                    columns.Bound(p => p.FromDate).Title(PH.Employee.FromDate).AddDefaultOptions();
                                    columns.Bound(p => p.ToDate).Title(PH.Employee.ToDate).AddDefaultOptions();

                                    columns.AddAuditColumns();

                                    columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_et(data)#");
                            })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.ProfileTerritoryId);
                                        model.Field(a => a.ProfileTerritoryId).Editable(false);
                                    }, read => read.Action("ReadEmployeeTerritoryList", formController, new { EmployeeId = modeAdd ? 0 : Model.EmployeeId }))
                                )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-et" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.EmployeeName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_et = kendo.template($("#responsive-column-template-et").html());
                </script>
               
                <!-- /Grid Mobile View -->
            </div>





            <div class="tab-pane" id="tab_employeeHistory">
                @if (active)
                 {
                   @Html.AddButtonForChild("CreateEmployeeHistory", new { employeeId = modeAdd ? 0 : Model.EmployeeId })
                 }
                @(Html.Kendo().Grid<DB.ORM.DB.vw_EmployeeHistory>()
                                                    .Name("EHGrid")
                                                    .Columns(columns =>
                                                    {
                                                    columns.Bound(p => p.EmployeeHistoryId).Hidden();
                                                    columns.Bound(p => p.JobTitleName).Title(PH.Employee.JobTitleName).AddDefaultOptionsAndViewInMobile();
                                                    columns.Bound(p => p.ManagerName).Title(PH.Employee.ManagerName).AddDefaultOptionsAndViewInMobile();
                                                    columns.Bound(p => p.FromDate).Title(PH.Employee.FromDate).AddDefaultOptions();
                                                    columns.Bound(p => p.ToDate).Title(PH.Employee.ToDate).AddDefaultOptions();
                                                    columns.AddAuditColumns();
                                                    columns.AddActionColumns("EmployeeHistoryId", Url.Action("EditEmployeeHistory"), Url.Action("DeleteEmployeeHistory"));
                                                    columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_eh(data)#");
                                                })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.EmployeeHistoryId);
                                                    model.Field(a => a.EmployeeHistoryId).Editable(false);
                                                }, read => read.Action("ReadEmployeeHistoryList", formController, new { EmployeeId = modeAdd ? 0 : Model.EmployeeId }))
                                            )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-eh" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.EmployeeName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_eh = kendo.template($("#responsive-column-template-eh").html());
                </script>

                <!-- /Grid Mobile View -->
            </div>




            <!-- /tile body -->
        </div>
    </div>
</div>
<!-- /tile -->



