﻿@model DB.ORM.DB.EmployeeProfile
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.EmployeeProfileId))
            @Html.FormDropDownListRow(m => m.EmployeeId, (List<SelectListItem>)ViewBag.Employees, true, PH.Employee.EmployeeName)
            @Html.FormDropDownListRow(m => m.ProfileId, (List<SelectListItem>)ViewBag.Profiles,false, PH.Employee.ProfileName)
            @Html.FormEditorRow(m => m.FromDate, PH.Employee.FromDate)
            @Html.FormEditorRow(m => m.ToDate, PH.Employee.ToDate)


            @Html.FormActionsRow("Edit", new { id = Model.EmployeeId }, "tab_employeeProfile")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
