﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Employee>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.EmployeeId).Hidden();
            columns.Bound(p => p.Picture).Title(PH.Employee.Picture)
                    .ClientTemplate(
                    @"# if (Picture != null) {#<img width=30 height=30 onerror='imgError(this);' src='" + @Url.Content("~/Uploads/Employee/#:EmployeeId#/#:Picture#") + "'/>#} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/defaultUserIcon.png") + "'> #}#")
                .AddDefaultOptions().Filterable(false);
            columns.Bound(p => p.EmployeeCode).Title(PH.Employee.EmployeeCode).AddDefaultOptions();
            columns.Bound(p => p.EmployeeName).Title(PH.Employee.EmployeeName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.JobTitleName).Title(PH.Employee.JobTitleName).AddDefaultOptions();
            columns.Bound(p => p.DepartmentName).Title(PH.Employee.DepartmentName).AddDefaultOptions();
            columns.Bound(p => p.Active).Title(PH.Employee.Active).AddDefaultOptions();
            columns.Bound(p => p.CountryCode).Title(PH.Employee.CountryCode).AddDefaultOptions();

            columns.AddAuditColumns();
            columns.AddActionColumns("EmployeeId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.EmployeeId);
                            model.Field(a => a.EmployeeId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.EmployeeCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.EmployeeName#</p>

            <strong>Title</strong>
            <p class="col-template-val">#=data.JobTitleName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>