﻿@model DB.ORM.DB.ProductPrice
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.ProductPriceId))
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.Product.ProductName)

            @Html.FormDropDownList((IEnumerable<SelectListItem>)ViewBag.PriceCritria, "ddlCritria", false, PH.ProductPrice.PriceType)
            @Html.FormDropDownListRow(m => m.DosageFormId, (List<SelectListItem>)ViewBag.DosageForms, false, PH.Product.DosageForm, "DosageFormsId", (Model != null && Model.DosageFormId.HasValue) ? false : true )
            @Html.FormDropDownListRow(m => m.DistributorId, (List<SelectListItem>)ViewBag.Distributors, false, PH.Product.Distributor, "DistributorsId", (Model != null && Model.DistributorId.HasValue) ? false : true )
            @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, false, PH.Product.Territory, "TerritoriesId", (Model != null && Model.TerritoryId.HasValue) ? false : true )
            @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # from: #=TerritoryName# , address: #=Address#", false, PH.Product.Account, "AccountsId", (Model != null && Model.AccountId.HasValue) ? false : true )
            @Html.FormEditorRow(m => m.FromDate)
            @Html.FormEditorRow(m => m.ToDate)
            @Html.FormEditorRow(m => m.Price)


            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>

    $("#DosageFormId").on('change', function () {
        if ($('#DosageFormId').val() == "") {
            critriaChanged();
            $('#DosageFormsId').hide();
        }
        else
            $('#DosageFormsId').show();
    });
    $("#DistributorId").on('change', function () {
        if ($('#DistributorId').val() == "") {
            critriaChanged();
            $('#DistributorsId').hide();
        }
        else
            $('#DistributorsId').show();
    });
    $("#TerritoryId").on('change', function () {
        if ($('#TerritoryId').val() == "") {
            critriaChanged();
            $('#TerritoriesId').hide();
        }
        else
            $('#TerritoriesId').show();
    });
    $("#AccountId").on('change', function () {
        if ($('#AccountId').val() == "") {
            critriaChanged();
            $('#AccountsId').hide();
        }
        else
            $('#AccountsId').show();
    });

    $(document).ready(function () {
        critriaChanged();
    });

    critriaChanged = () => {
        var critriaValue = '';
        critriaValue += $('#DosageFormId').val() == "" ? (critriaValue == "" ? '' : 0) : '1';
        critriaValue += $('#DistributorId').val() == "" ? (critriaValue == "" ? '' : 0) : '1';
        critriaValue += $('#TerritoryId').val() == "" ? (critriaValue == "" ? '' : 0) : '1';
        critriaValue += $('#AccountId').val() == "" ? (critriaValue == "" ? '' : 0) : '1';
        var dropdownlist = $("#ddlCritria").data("kendoDropDownList");
        dropdownlist.value(critriaValue);
    }

    $("#ddlCritria").on('change', function () {
        // DosageForm - Distributor - Territory - Account ------> Digits Order
        var critriaValue = $("#ddlCritria").val();
        critriaValue = critriaValue.length == 1 ? '000' + critriaValue : (critriaValue.length == 2 ? '00' + critriaValue :
                                                      (critriaValue.length == 3 ? '0' + critriaValue : critriaValue));

        if (critriaValue.charAt(0) == '0') {
            var dropdownlist = $("#DosageFormId").data("kendoDropDownList");
            dropdownlist.value('0');
            $('#DosageFormsId').hide();
        }
        else
           $('#DosageFormsId').show();
        
        if (critriaValue.charAt(1) == '0') {
            var dropdownlist = $("#DistributorId").data("kendoDropDownList");
            dropdownlist.value('0');
            $('#DistributorsId').hide();
        }
        else
            $('#DistributorsId').show();
        
        if (critriaValue.charAt(2) == '0') {
            var dropdownlist = $("#TerritoryId").data("kendoDropDownList");
            dropdownlist.value('0');
            $('#TerritoriesId').hide();
        }
        else
            $('#TerritoriesId').show();
        
        if (critriaValue.charAt(3) == '0') {
            var dropdownlist = $("#AccountId").data("kendoDropDownList");
            dropdownlist.value('0');
            $('#AccountsId').hide();
        }
        else
            $('#AccountsId').show();
    });
    function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>