﻿@model DB.ORM.DB.fn_GetImportedFileDetails
@{
    ViewBag.Title = "Upload Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " for:" + Model.DistributorName + ", at: " + Model.PeriodName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("UploadAccounts", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.DistributorName)
            @Html.HiddenFor(m => m.PeriodName)
            <div class="note note-info">
                <h4 class="block">Information! </h4>
                <p>
                    Make sure the file contains records within the file and they marked for creation. otherwise, errors will be displayed.
                    <br />File format is excel and should be exported from import page.
                    <br />Created Accounts will be saved in system as approved.
                </p>
            </div>
            @Html.Hidden("fileId", Model.FileId)
            @Html.FormEditorRow(PH.SalesImport.File,
                @Html.Kendo().Upload()
                .Name("File")
                .ShowFileList(true)
                .Multiple(false)
                .Validation(v=>v
                    .AllowedExtensions(new string[] {"xls", "xlsx"})
                    .MaxFileSize(100*1000*1000)
                    )
           )
            @Html.FormEditorRow("", null)
            @Html.FormActionsRow(FormActionButton.SubmitButton(), FormActionButton.ResetButton(), FormActionLink.BackButton("Edit", new { id = Model.FileId }))
        </div>
        }
    </div>
    <!-- /tile body -->
    <script>
        function downloadTemplate() {
            var templateUrl = '@Url.Action("DownloadTemplate")';
            window.location = templateUrl + "?timdefId=" + $("#ExtractTimeDefId").val() + "&countryId=" + $("#CountryId").data("kendoDropDownList").value();
            return true;
        }
    </script>
</div>
