﻿@model DB.ORM.DB.Distributor
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<!-- tile -->
<div class="portlet light ">
    @(modeAdd ? Html.FormHeaderWithButtons((string)title + " " + eName) : Html.FormHeaderTabbed((string)title + " " + eName,
            new FormHeaderTab { Id = "tab_details", Name = PH.Distributor.Details},
            new FormHeaderTab { Id = "tab_distributorBranch", Name = PH.Distributor.DistributorBranch },
            new FormHeaderTab { Id = "tab_distributorProductMapping", Name = PH.Distributor.ProductMapping },
            new FormHeaderTab { Id = "tab_distributorAccountMapping", Name = PH.Distributor.AccountMapping }) )
    <!-- tile body -->
    <div class="portlet-body form">

        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
                @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @(modeAdd ? null : Html.HiddenFor(m => m.DistributorId))
                        @Html.FormEditorRow(m => m.DistributorCode,PH.Distributor.DistributorCode)
                        @Html.FormEditorRow(m => m.DistributorName, PH.Distributor.DistributorName,true)
                        @Html.FormDropDownListRow(m => m.SalesPluginId, (List<SelectListItem>)ViewBag.SalesPlugins,false ,PH.Distributor.SalesPlugin)
                        @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Distributor.Country)


                        @Html.FormActionsRow()
                    </div>
                }
            </div>


            <div class="tab-pane" id="tab_distributorProductMapping">
                @Html.AddButtonForChild("CreateDistributorProductMapping", new { distributorId = modeAdd ? 0 : Model.DistributorId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_DistributorProductMapping>()
                                            .Name("DPMGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(p => p.DistributorProductMappingId).Hidden();
                                                columns.Bound(p => p.DosageFormName).Title(PH.Distributor.DosageFormName).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.DosageFormNameFile).Title(PH.Distributor.DosageFormNameFile).AddDefaultOptions();

                                                columns.AddAuditColumns();
                                                columns.AddActionColumns("DistributorProductMappingId", Url.Action("EditDistributorProductMapping"), Url.Action("DeleteDistributorProductMapping"));
                                                columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_dpm(data)#");
                                        })
                                    .AddDefaultOptions()
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.DistributorProductMappingId);
                                            model.Field(a => a.DistributorProductMappingId).Editable(false);
                                        }, read => read.Action("ReadDistributorProductMappingList", formController, new { DistributorId = modeAdd ? 0 : Model.DistributorId }))
                                    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-dpm" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.DosageFormName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.DosageFormNameFile#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.CountryCode#</p>
                </script>
                <script>
                    var resColTemplate_dpm = kendo.template($("#responsive-column-template-dpm").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->


            </div>

            <div class="tab-pane" id="tab_distributorAccountMapping">
                @Html.AddButtonForChild("CreateDistributorAccountMapping", new { distributorId = modeAdd ? 0 : Model.DistributorId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_DistributorAccountMapping>()
                                        .Name("DAMGrid")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.DistributorAccountMappingId).Hidden();
                                            columns.Bound(p => p.AccountName).Title(PH.Distributor.AccountName).AddDefaultOptionsAndViewInMobile();
                                            columns.Bound(p => p.AccountNameFile).Title(PH.Distributor.AccountNameFile).AddDefaultOptionsAndViewInMobile();
                                            columns.Bound(p => p.AccountAddress).Title(PH.Distributor.AccountAddress).AddDefaultOptions();
                                            columns.AddAuditColumns();
                                            columns.AddActionColumns("DistributorAccountMappingId", Url.Action("EditDistributorAccountMapping"), Url.Action("DeleteDistributorAccountMapping"));
                                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_dam(data)#");
                                })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.DistributorAccountMappingId);
                                model.Field(a => a.DistributorAccountMappingId).Editable(false);
                            }, read => read.Action("ReadDistributorAccountMappingList", formController, new { DistributorId = modeAdd ? 0 : Model.DistributorId }))
                        )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-dam" type="text/x-kendo-template">
                    <strong>Name</strong>
                    <p class="col-template-val">#=data.AccountName#</p>

                    <strong>FromDate</strong>
                    <p class="col-template-val">#=data.AccountNameFile#</p>

                    <strong>ToDate</strong>
                    <p class="col-template-val">#=data.AccountAddress#</p>

                    <strong>ToDate</strong>
                    <p class="col-template-val">#=data.CountryCode#</p>
                </script>
                <script>
                    var resColTemplate_dam = kendo.template($("#responsive-column-template-dam").html());
                </script>
                <!-- /Grid Mobile View -->
            </div>

            <div class="tab-pane" id="tab_distributorBranch">
                @Html.AddButtonForChild("CreateDistributorBranch", new { distributorId = modeAdd ? 0 : Model.DistributorId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_DistributorBranch>()
                        .Name("DBGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.BranchId).Hidden();
                            columns.Bound(p => p.BranchCode).Title(PH.Distributor.BranchCode).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.BranchName).Title(PH.Distributor.BranchName).AddDefaultOptionsAndViewInMobile();
                            columns.AddAuditColumns();
                            columns.AddActionColumns("BranchId", Url.Action("EditDistributorBranch"), Url.Action("DeleteDistributorBranch"));
                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_db(data)#");
                        })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.BranchId);
                                model.Field(a => a.BranchId).Editable(false);
                            }, read => read.Action("ReadDistributorBranchList", formController, new { DistributorId = modeAdd ? 0 : Model.DistributorId }))
                        )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-db" type="text/x-kendo-template">
                    <strong>Name</strong>
                    <p class="col-template-val">#=data.BranchCode#</p>

                    <strong>FromDate</strong>
                    <p class="col-template-val">#=data.BranchName#</p>

                    <strong>ToDate</strong>
                    <p class="col-template-val">#=data.CountryCode#</p>

                </script>
                <script>
                    var resColTemplate_db = kendo.template($("#responsive-column-template-db").html());
                </script>
                <!-- /Grid Mobile View -->
            </div>
        </div>
        <!-- /tile body -->
    </div>
    <!-- /tile -->
</div>