﻿@model DB.ORM.DB.DistributorBranch
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.BranchId))
            @Html.FormDropDownListRow(m => m.DistributorId, (List<SelectListItem>)ViewBag.Distributors, true, PH.Distributor.distributor)
            @Html.FormEditorRow(m => m.BranchName, PH.Distributor.BranchName,true)
            @Html.FormEditorRow(m => m.BranchCode, PH.Distributor.BranchCode)



            @Html.FormActionsRow("Edit", new { id = Model.DistributorId }, "tab_distributorBranch")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
