﻿@model DB.ORM.DB.CeilingAccountException
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
      
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @(modeAdd ? null : Html.HiddenFor(m => m.CeilingAccountExceptionId))
            @Html.FormDropDownListRow(m => m.AccountId, (List<SelectListItem>)ViewBag.Accounts, true, PH.AccountCeiling.Account)
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, false, PH.AccountCeiling.ProductName)
            @Html.FormDropDownListRow(m => m.FromTimeId, (List<SelectListItem>)ViewBag.TimeDef, true, PH.AccountCeiling.FromPeriod)
            @Html.FormDropDownListRow(m => m.ToTimeId, (List<SelectListItem>)ViewBag.TimeDef, false, PH.AccountCeiling.ToPeriod)
            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
