﻿
<style>


    .k-diagram, .k-map {
        height: 400px;
        width: 500px;
    }
</style>
<div style="padding-top:20px">
    @(Html.Kendo().Map()
            .Name("map")
            .Center(30.0444000000, 31.2357000000)
            .Zoom(7)
            .Layers(layers =>
            {
                layers.Add()
                    .Type(MapLayerType.Tile)
                    .UrlTemplate("http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                    .Subdomains("a", "b", "c")
                    .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>");
            })
            .Markers(markers =>
            {
                markers.Add()
                    .Location()
                    .Shape(MapMarkersShape.PinTarget)
                    .Tooltip(tooltip => tooltip.Content(""));
            })
           
    )
</div>

