﻿@model Web.App.Controllers.MovementDto
@{
    var title = "Movement Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title)
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-5">
                <div class="form-body">

                    @Html.FormDropDownListRow(m => m.EmployeeId, (List<SelectListItem>)ViewBag.MedicalRep, false, "Employee")
                    @Html.FormEditorRow(m => m.Date, "Date")
                   
                </div>
            </div>
            <div class="col-md-7">
                @Html.Partial("_Map")
            </div>

        </div>  
    </div>
    <!-- /tile body -->
</div>

<script>
    $("#EmployeeId").on("change",function () {
        
        var Id = $(this).val();
        var datee = $("#Date").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetVisits", "MovementLogs")',
            data: { id: Id, date: datee},
            dataType: "json",
            success: function (data) {
                console.log(data);
                console.log("Done");
            },
            error: function (data) {
                console.log("false");
            }
        });
    });
</script>