﻿@model Web.App.Models.VMRole
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-6">
                    @(modeAdd ? null : Html.HiddenFor(m => m.RoleId))
                    @Html.FormEditorRow(m => m.RoleName,PH.Role.RoleName,true)
                    @Html.FormEditorRow(m => m.IsAdmin, PH.Role.IsAdmin)
                    @Html.FormEditorRow(m => m.IsActive, PH.Role.IsActive)
                    @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Role.Country)
                    @Html.FormActionsRow()
                </div>
                <div class="col-md-6">
                    @Html.HiddenFor(m=>m.MenuItems)
                    @(Html.Kendo().TreeView()
                    .Name("menu")
                    .Checkboxes(checkboxes => checkboxes
                        .Name("checkedFiles")
                        .CheckChildren(true)
                    )
                     .Events(events => events
                        .Check("onCheck")
                    )
                    .BindTo((IEnumerable<TreeViewItemModel>)ViewBag.Menus)
                    )
                </div>
            </div>
           
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>

    // function that gathers IDs of checked nodes
    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    // show checked node IDs on datasource change
    function onCheck() {
        var checkedNodes = [],
            treeView = $("#menu").data("kendoTreeView");

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);
        if (checkedNodes.length > 0) { $("#MenuItems").val(checkedNodes.join(","));}
    }
</script>