﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-5">
        <address>
            IT SOFTWARE PROGRAMS DEPEVELPMENT SUPPORT CONTACT<br />
            13 AHMED ORABY ST.<br />
            <abbr title="Phone">P:</abbr>
            +201228294888
            <br />
            +201207311113
        </address>
        <address>
            <strong>Software Program Developing Manager:</strong>   <a href="mailto:naderghatass@gmail.com">Mr. Nader</a><br />
            <strong>IT Support 01:</strong> <a href="mailto:cpi.mariam.khalifa@gmail.com">Miss Mariam</a><br />
            <strong>IT Support 02:</strong> <a href="mailto:cpi.nardine.mokhles@gmail.com">Miss Nardine</a>
        </address>
    </div>
    <div class="col-md-7">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Chemipharm%20scientific%20office&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/20-off-discount-for-elegant-themes-divi-sale-coupon-code-2019/">embedgooglemap.net</a></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style>
        </div>
    </div>
</div>


