﻿@{
    Layout = ViewBag.Layout;
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfileTargetVisit>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.ProfileTargetId).Hidden();
                        columns.Bound(p => p.EmployeeName).Title(PH.RepTargetVisit.EmployeeName).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.PeriodName).Title(PH.RepTargetVisit.PeriodName).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.TargetStatus).Title(PH.RepTargetVisit.TargetStatus).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.TargetAccountsCount).Title(PH.RepTargetVisit.TargetAccountsCount).AddDefaultOptions();
                        columns.Bound(p => p.TargetDoctorsCount).Title(PH.RepTargetVisit.TargetDoctorsCount).AddDefaultOptions();
                        columns.Bound(p => p.TargetVisits).AddDefaultOptions();
                        columns.AddActionColumns("ProfileTargetId", ListActionColumn.EditColumn("ProfileTargetId"));
                        columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                    .AddDefaultOptions()
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.ProfileTargetId);
                                            model.Field(a => a.ProfileTargetId).Editable(false);
                                        })
                                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Period</strong>
            <p class="col-template-val">#=data.PeriodName#</p>
            <strong>EmployeeName</strong>
            <p class="col-template-val">#=data.EmployeeName#</p>

            <strong>Status</strong>
            <p class="col-template-val">#=data.TargetStatus#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>