﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProductPresentation>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.PresentationId).Hidden();
            columns.Bound(p => p.Ext).Title("Icon")
               .ClientTemplate(
               @"# if (Ext == null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Ext#'/>#} 
                else if(Ext == 'pdf'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/pdf.png") + "'> #} else if(Ext == 'doc'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/doc.png") + "'> #}else{# <img width=30 height=30 src='" + @Url.Content("~/Images/icons/default.png") + "'> #}#")
                   .AddDefaultOptions().Filterable(false);
            columns.Bound(p => p.ProductName).AddDefaultOptions().Groupable(true);
            columns.Bound(p => p.PresentationName).AddDefaultOptions();
            columns.Bound(p => p.FilePath).AddDefaultOptions();
            columns.Bound(p => p.Active).AddDefaultOptions();
            columns.AddActionColumns("PresentationId",
        ListActionColumn.GenericSwALColumn("PresentationId",null, "fa fa-eye", false,"view"),
        ListActionColumn.GenericSwALColumn("PresentationId", Url.Action("ToogleActive", formController), "fa fa-close", true, "close", "Deactivated!",
                        "Your Presentation has been DeActivated.", "Cancelled", "Your Presentation is safe", "Are you sure ?", "You will Deactivat this Presentation", "warning", "Yes, Deactivat it!"
                        , "No, Cancel plx!"),
        ListActionColumn.GenericSwALColumn("PresentationId", Url.Action("ToogleActive", formController), "fa fa-check", true, "activate", "Activated!",
                        "Your Presentation has been Actived.", "Cancelled", "Your Presentation is safe", "Are you sure ?", "You will Active this Presentation", "warning", "Yes, Active it!"
                        , "No, Cancel plx!"),
        ListActionColumn.GenericSwALColumn("PresentationId", Url.Action("DeletePresentation", formController), "glyphicon glyphicon-trash trashIcon", true, "delete", "Deleted!",
                        "Your Presentation has been Deleted.", "Cancelled", "Your Presentation has Related Data", "Are you sure ?", "You will Delete this Presentation", "warning", "Yes, Delete it!"
                        , "No, Cancel plx!", "Your Presentation is safe"));
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
            })
                    .AddDefaultOptions()
                    .Events(e => e.DataBound("OnDataBound"))
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.PresentationId);
                            model.Field(a => a.PresentationId).Editable(false);
                        })
                        //.Ajax().Group(g => g.Add(a => a.ProductName))
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Product</strong>
            <p class="col-template-val">#=data.ProductName#</p>

            <strong>Dosage</strong>
            <p class="col-template-val">#=data.DosageFormName#</p>

            <strong>Distributor</strong>
            <p class="col-template-val">#=data.DistributorName#</p>

            <strong>Price</strong>
            <p class="col-template-val">#=data.Price#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>

<script>
     OnDataBound = (e) => {
        var rows = $("#Grid").data("kendoGrid").dataSource.data();
        jQuery.each(rows, function (i, val) {
            if (val.Active == true) {
                $('#activate_' + val.PresentationId).hide();
                $('#close_' + val.PresentationId).show();
            }
            else
            {
                $('#close_' + val.PresentationId).hide();
                $('#activat_' + val.PresentationId).show();
            }
            $('#delete_' + val.PresentationId).kendoTooltip({ content: "Delete Presentation", position: "top", width: 120 });
            $('#activate_' + val.PresentationId).kendoTooltip({ content: "Activate Presentation" , position: "top",width: 120});
            $('#close_' + val.PresentationId).kendoTooltip({ content: "DeActivate Presentation", position: "top", width: 120});
            $('#view_' + val.PresentationId).kendoTooltip({ content: "View Presentation", position: "top", width: 120 });

            $('#view_' + val.PresentationId).on("click", function () {
                window.open(val.FilePath, '_blank', 'fullscreen=yes'); return false;

                   @*$.ajax({
                        type: "POST",
                        url: '@Url.Action("ShowFile", "ProductPresentation")',
                       data: { id: val.PresentationId},
                       dataType: "text",
                       success: function (data) {
                           window.open(data, '_blank', 'fullscreen=yes'); return false;
                        },
                        error: function (data) {
                            ;
                            console.log("false");
                        }
                    });*@
            
            });
        });
    }
</script>