﻿@model DB.ORM.DB.Target
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}


<!-- tile -->
<div class="portlet light ">
    @(Html.FormHeaderTabbed("Edit " + ViewData["EntityName"], 
        new FormHeaderTab { Id = "tab_details", Name = "Details" }, 
        new FormHeaderTab { Id = "tab_products", Name = "Product Target" }) )
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @using (Html.BeginForm("Edit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                <div class="form-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @(Html.HiddenFor(m => m.TargetId))
                    @Html.FormEditorRow(m => m.Year,PH.TargetAnalyzer.Year)
                    @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.TargetAnalyzer.Country)
                    @Html.FormActionsRow(FormActionLink.BackButton("Index"))
                </div>
                }
            </div>
            <div class="tab-pane" id="tab_products">
                @(Html.Kendo().Grid<DB.ORM.DB.vw_TargetProduct_Details>()
                        .Name("MSTGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.TargetId).Hidden();
                            columns.Bound(p => p.ProductName).Title(PH.TargetAnalyzer.ProductName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.Qty).AddDefaultOptionsAndViewInMobile().Format("{0:0,0}").Title(PH.TargetAnalyzer.Qty);
                            columns.Bound(p => p.Amount).AddDefaultOptionsAndViewInMobile().Format("{0:0,0}").Title(PH.TargetAnalyzer.Amount);
                            columns.Bound(p => p.QtyGrowth).AddDefaultOptions().Format("{0:0.0%}").Title(PH.TargetAnalyzer.QtyGrowth);
                            columns.Bound(p => p.AmountGrowth).AddDefaultOptions().Format("{0:0.0%}").Title(PH.TargetAnalyzer.AmountGrowth);
                            columns.AddAuditColumns();
                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ts(data)#");
                    })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.TargetId);
                            model.Field(a => a.TargetId).Editable(false);
                        }, read => read.Action("ReadDetailsList", formController, new { year = Model.Year, countryId = Model.CountryId }))
                    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ts" type="text/x-kendo-template">
                    <strong>Product</strong>
                    <p class="col-template-val">#=data.ProductName#</p>

                    <strong>Qty</strong>
                    <p class="col-template-val">#=data.Qty# with growth #=data.QtyGrowth#</p>

                    <strong>Amount</strong>
                    <p class="col-template-val">#=data.Amount# with growth #=data.AmountGrowth#</p>
                </script>
                <script>
                    var resColTemplate_ts = kendo.template($("#responsive-column-template-ts").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>

        </div>
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
